*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html {
	background-color:#E7D3C4;
	font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
	font-size: 3em;
	line-height: 1em;
	margin-bottom: .5em;
	text-align: center;
	margin-top: 1em;
}
h2 {
	font-size: 2.25em;
	line-height: 1.333333333333333em;
	margin-bottom: .6666666666666667em;
	text-align: center;
}
h3 {
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 1em;
	text-align: center;
}
p {
	font-size: 1em; 
	line-height: 1.5em; 
	margin-bottom: 1.5em;
}

article {
	padding:1em;
}

.section3-1, .section3-2, .section3-3 {
	padding: 1em;
}

nav {
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	width: 100%;
}

nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
	align-items: center;
	flex-wrap: nowrap;
}

nav ul li {
	flex: 1;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align:center;
}

#nav li a:link, #nav li a:visited {
	text-decoration: none;
	color: #DAD3C4;
}

#nav li a:hover {
	color: #91C1DF;
}

#logo {
	height: 45px;
}

footer {
	text-align: center;
}

@-webkit-keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	-webkit-animation: 30s slidy infinite; 
}


@media only screen and (min-width: 700px) {
	#section3 {
		display: flex;
	}
	.text-block {
		flex: 1;
	}
	.img-block {
		flex: 1;
	}
	#section3 {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.section3-1 {
		flex: 100% 1;
	}
	.section3-2, .section3-3{
		flex: 1;
	}
}

@media only screen and (min-width: 1000px) {
	#section3 {
		display: flex;
	}
	.text-block {
		flex: 2;
	}
	.img-block {
		flex: 1;
	}
}