*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	font-size: 100%;
	background-color:#E7D3C4;
	font-family: 'Open Sans Condensed', sans-serif;
	overflow-x:hidden;
}

h1 {
	font-size: 3em;
	line-height: 1em;
	margin-bottom: .5em;
	text-align: center;
}
h2 {
	font-size: 2.25em;
	line-height: 1.333333333333333em;
	margin-bottom: .6666666666666667em;
	text-align: center;
}
h3 {
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 1em;
	text-align: center;
}
p {
	font-size: 1em; 
	line-height: 1.5em; 
	margin-bottom: 1.5em;
}

article, div {
	padding:1em;
}

nav {
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
}

nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
	align-items: center;
	flex-wrap: nowrap;
}

nav ul li {
	flex: 1;
	text-transform: uppercase;
	text-align:center;
}

#nav li a:link, #nav li a:visited {
	text-decoration: none;
	color: #DAD3C4;
}

#nav li a:hover {
	color: #91C1DF;
}

#logo {
	height: 45px;
}

#jumbotron {
	background-image: url("../images/grounds_large.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 400px;
}

#welcome, #to, .cycle {
	margin: 0 auto;
	width: 100%;
	position: absolute;
	top: -70px;
	color: #fff;
	font-family: 'Herr Von Muellerhoff', cursive;
	font-size: 40px;
	text-align: center;
	z-index: 1;
}

#to {
	top: -100px;
}

.cycle {
	top: 130px;
	font-family: 'Halant', serif;
	font-weight: 300;
	font-size: 60px;
	display: none;
}

#section3 img {
	width: 100%;
}

footer {
	text-align: center;
}

@media only screen and (min-width: 700px) {
	img {
		max-width:100%;
	}
	.cycle {
		font-size: 80px;
	}

	#section3 {
		display: flex;
	}
	.text-block {
		flex: 1;
	}
	.img-block {
		flex: 1;
	}
	#section3 {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.section3-1 {
		flex: 100% 1;
	}
	.section3-2, .section3-3{
		flex: 1;
	}
}

@media only screen and (min-width: 1000px) {
	#section3 {
		display: flex;
	}
	.text-block {
		flex: 2;
	}
	.img-block {
		flex: 1;
	}
}